/* ====== Reset =====*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Lato', sans-serif;

} 

/* ===== Topo ===== */
.topo {
	background-color: #ef5350;
	padding: 20px;
	color: #fff;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

/*===== input =====*/

.container {
	display: flex;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.add-ativ {
	outline: none;
	border: 1px solid #616161;
	border-right: none;
	padding: 5px;
	margin-left: 10px;
	width: 85%;
}

/* ===== Buttom =====*/
.btn-add {
	color: #fff;
	background-color: #9e9e9e;
	outline: none;
	width: 15%;
	padding: 6px;
	margin-right: 10px;
	cursor: pointer;
}

.btn-add:hover {
	background-color: #616161;
} 

/* ==== List ===== */

.list {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	max-width: 450px;
}

/*===== item =====*/
.item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.item p {
	margin-left: 10px;
}

.btn-del {
	outline: none;
	padding: 5px;
	background-color: #e57373;
	color: #fff;
	margin-right: 10px;
	cursor: pointer;
}

.btn-del:hover {
	background-color: #ef5350;
}
